<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="/">Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h2>The Dojo Message Board!</h2>
        <hr>
        <h3> Add a message!</h3>
        <form class="w-100" action="/messages" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <span name="name"></span>
                        <input name="name" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <span name="message"></span>
                        <input name="message" class="form-control"  placeholder="Message" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit!</button>
                    </div>
                    <% if(typeof(errors) != 'undefined' ) { %>
                        <% for (var x in errors) { %>
                            <h3>
                                <%= errors[x].message %>
                            </h3>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </form>
        <h3> Here are the messages!</h3>

        <% for(var i = 0; i< messages.length; i++) { %>
            <ul>
                Message from :<%= messages[i].name%><br></br>
                Message :<%= messages[i].message%>
                <% for(var j = 0; j< messages[i].comments.length; j++) { %>

                    Comment : <%= messages[i].comments[j].comment%>
                    <% } %>
            </ul>
        <form class="w-100" action="/comments" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <span name="name"></span>
                        <input name="name" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <span name="comment"></span>
                        <input name="comment" class="form-control" placeholder="Comment" />
                        <input type="hidden" name="message" value="<%=messages[i]._id%>"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Comment!</button>
                    </div>
                    <% if(typeof(errors) != 'undefined' ) { %>
                        <% for (var x in errors) { %>
                            <h3>
                                <%= errors[x].message %>
                            </h3>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </form>
        <% } %>
            <hr>
        <hr>
        </div>
    </div>
    
</body>

</html>